<div class="container-fluid">
<div class="row py-3">
  <div class="col">
    <h1>Shopping list</h1>

    <p class="pt-3" *ngIf="!shoppingList.length">Your shopping cart is empty :(</p>

    <form #slForm="ngForm" (ngSubmit)="onFormSubmit(slForm)">
        <ul class="list-light px-4"
            *ngIf="shoppingList.length" >
        <li class="row"
            *ngFor="let item of shoppingList; index as i"> 
            <div class="col-9 col-lg-6 d-flex">
                <span class="svg-wrapper"></span>
                <span>{{ item.type | titlecase }} ice-cream &nbsp;</span>
                <span>{{ item.flavour }} flavour &nbsp;</span>
                <span *ngIf="item.scoopsAmount">{{ item.scoopsAmount }} scoop(s)</span>
                <span *ngIf="item.shape">{{ item.shape }} shape</span>
            </div>
            <div class="col-3 col-lg-1">
                <a class="small remove-link"
                (click)="onDelete(i)">
                X <span>Remove</span>
                </a>
            </div>
            <div class="col-4 col-lg-1 text-center feedback-incl-block">
                <input type="text" 
                        class="form-control"
                        [ngClass]="{'is-invalid': qty.invalid && qty.touched}"
                        #qty="ngModel"
                        [(ngModel)]="item.quantity"
                        name="quantity-{{i}}"
                        (input)="onQuantityChange(qty.valid)"
                        required
                        pattern="^[1-9][0-9]?$|^100$">
                    <div class="invalid-feedback absolute" *ngIf="qty.errors?.pattern || !qty.valid"> 
                        Quantity should be between 1 and 100
                    </div>	
            </div>
            <div class="col-4 col-lg-2 text-right">{{ item.price | currency}}</div>
            <div class="col-4 col-lg-2 text-right">{{ qty.valid ? (item.price * item.quantity | currency) : (item.price | currency)}}</div>
        </li>
        <li class="row sum">
            <div class="col-9 col-lg-10">
                Order summary
            </div>
            <div class="col-3 col-lg-2">
                {{ orderSummary | currency }}
            </div>
        </li>
            
        </ul>
    </form>

    <div class="btn-wrapper d-flex">
        <button class="btn btn-info"
                type="button"
                routerLink="/new">Return  to ice cream creator</button>
        <button type="button" 
                class="btn btn-success"
                [disabled]="!slForm.valid"
                (click)="onGoToCheckout()"
                routerLink="/checkout">Proceed to checkout</button>
    </div>

  </div>
</div>
</div>
