<form #f="ngForm" (ngSubmit)="onAddCone(f)">
    <p class="lead">How much scoops?</p>
    <div class="form-check-inline" *ngFor="let scoop of scoops; index as i">
      <input type="radio"
            class="hidden-input" 
            id=scoop-{{i}}
            name="scoopsAmountChosen"
            [value]="scoop"
            ngModel
            required
            #g>
      <label class="form-check-label square-label" 
              for=scoop-{{i}}
              (click)="onScoopsAmountSelect(scoop)">
        {{ scoop }}</label>
    </div>

    <hr>

    <p class="lead">Choose flavour</p>
    <div class="form-check-inline" *ngFor="let flav of flavours">
      <input type="radio"
            class="hidden-input" 
            [id]="flav.name"
            name="flavourChosen"
            [value]="flav.name"
            ngModel
            required>
      <label class="form-check-label" [for]="flav.name">
        <img [src]="flav.imgPath" alt="">
        {{ flav.name | titlecase }}</label>
    </div>

    <hr>

    <button type="submit"
            class="btn btn-success"
            [disabled]="!f.valid">
            Add to shopping cart</button>

  </form>