<div class="container-fluid new-ice-cream fill" id="new-ice-cream">
  <div class="row">

    <div class="col-sm-12 col-lg-4 py-3 left fill">
        <h4>Customize your ice cream</h4>
        <form [formGroup]="icForm" (ngSubmit)="onAddIceCream()">

            <div class="form-group-wrapper">
                <p class="lead">Choose ice-cream type</p>
                <div class="form-check-inline" *ngFor="let type of iceCreamType">
                    <input type="radio"
                        class="hidden-input" 
                        [id]="type.name"
                        [value]="type.name"
                        formControlName="typeChosen"
                        >
                    <label class="form-check-label" 
                            [for]="type.name">
                        <img [src]="type.imgPath" alt="">
                    {{ type.name | titlecase }}</label>
                </div>
                <hr>
            </div>
            
            <div class="form-group-wrapper" *ngIf="scoops && iceCreamTypeChosen">
                <p class="lead">How much scoops?</p>
                <div class="form-check-inline" *ngFor="let scoop of scoops; index as i">
                    <input type="radio"
                        class="hidden-input" 
                        id=scoop-{{i}}
                        formControlName="scoopsAmountChosen"
                        [value]="scoop"
                        [(ngModel)]="scoopsAmountChosen">
                    <label class="form-check-label square-label" 
                            for=scoop-{{i}}>
                    {{ scoop }}</label>
                </div>
                <hr>
            </div>

            <div class="form-group-wrapper" *ngIf="shapes && iceCreamTypeChosen">
                    <p class="lead">What shape?</p>
                    <div class="form-check-inline" *ngFor="let shape of shapes; index as i">
                        <input type="radio"
                            class="hidden-input" 
                            [id]="shape.name"
                            formControlName="shapeChosen"
                            [value]="shape.name"
                            [(ngModel)]="shapeChosen">
                        <label class="form-check-label" 
                                [for]="shape.name">
                            <img [src]="shape.imgPath" [alt]="shape.name">
                        {{ shape.name | titlecase }}</label>
                    </div>
                    <hr>
                </div>

            <div class="form-group-wrapper" *ngIf="iceCreamTypeChosen">
                <p class="lead">Choose flavour</p>
                <div class="form-check-inline" *ngFor="let flav of flavours">
                    <input type="radio"
                        class="hidden-input" 
                        [id]="flav.name"
                        formControlName="flavourChosen"
                        [value]="flav.name"
                        [(ngModel)]="flavourChosen"
                        >
                        
                    <label class="form-check-label" 
                            [for]="flav.name">
                    <img [src]="flav.imgPath" [alt]="flav.name">
                    {{ flav.name | titlecase }}</label>
                </div>
                <hr>
            </div>
        
        
        <button type="submit"
                class="btn btn-success d-none d-lg-block"
                id="goToSLBtn"
                [disabled]="!icForm.valid">
                Add to shopping cart</button>
        
        </form>

    </div>

    <div class="col-sm-12 col-lg-4 py-3 center-block fill">
        <app-ice-cream-preview></app-ice-cream-preview>
    </div>

    <div class="col-sm-12 col-lg-4 py-3 right d-flex fill">
        <app-summary></app-summary>
    </div>

  </div>

  <button id="triggerGoToSL" 
        class="btn btn-success d-xs-block d-lg-none" 
        onclick="document.getElementById('goToSLBtn').click()"
        [disabled]="!icForm.valid">Add to shopping cart</button>

</div>

<div class="sl-preview">
    <app-shopping-list-preview></app-shopping-list-preview>
</div>
