<div class="container-fluid fill new-ice-cream">
  <div class="row h-100">

    <div class="col-xs-12 col-sm-7 h-100 right">

        <form [formGroup]="icForm" (ngSubmit)="onAddIceCream()">

            <div class="form-group-wrapper">
                <p class="lead">Choose ice-cream type</p>
                <div class="form-check-inline" *ngFor="let type of iceCreamType">
                    <input type="radio"
                        class="hidden-input" 
                        [id]="type.name"
                        name="typeChosen"
                        [value]="type.name"
                        formControlName="typeChosen"
                        required
                        >
                    <label class="form-check-label" 
                            [for]="type.name">
                        <img [src]="type.imgPath" alt="">
                    {{ type.name | titlecase }}</label>
                </div>
                <hr>
            </div>
            
            <div class="form-group-wrapper" *ngIf="scoops">
                <p class="lead">How much scoops?</p>
                <div class="form-check-inline" *ngFor="let scoop of scoops; index as i">
                    <input type="radio"
                        class="hidden-input" 
                        id=scoop-{{i}}
                        name="scoopsAmountChosen"
                        formControlName="scoopsAmountChosen"
                        [value]="scoop"
                        [(ngModel)]="scoopsAmountChosen"
                        required
                        >
                    <label class="form-check-label square-label" 
                            for=scoop-{{i}}>
                    {{ scoop }}</label>
                </div>
                <hr>
            </div>

            <div class="form-group-wrapper">
                <p class="lead">Choose flavour</p>
                <div class="form-check-inline" *ngFor="let flav of flavours">
                    <input type="radio"
                        class="hidden-input" 
                        [id]="flav.name"
                        name="flavourChosen"
                        formControlName="flavourChosen"
                        [value]="flav.name"
                        [(ngModel)]="flavourChosen"
                        required
                        >
                        
                    <label class="form-check-label" 
                            [for]="flav.name">
                    <img [src]="flav.imgPath" alt="">
                    {{ flav.name | titlecase }}</label>
                </div>
                <hr>
            </div>
        
        
        <button type="submit"
                class="btn btn-success"
                [disabled]="!icForm.valid">
                Add to shopping cart</button>
        
        </form>

    </div>

    <div class="col-xs-12 col-sm-5 h-100 left">
        <app-ice-cream-preview></app-ice-cream-preview>
    </div>
  </div>
</div>

<div class="sl-preview">
    <app-shopping-list-preview></app-shopping-list-preview>
</div>
