.new-ice-cream{
    background: aliceblue;
    padding-bottom: 80px;

    &.fill{
        min-height: 100vh;
    }

    .left, .right{
        .list-group-item{
            background-color: transparent;
        }
    }

    .center-block{
        background: white;
    }
}

.links-inline{
    display: flex;
    justify-content: flex-start;
}

.square-link{
    display: block;
    margin-right: 10px;
    color: #333;
    text-align: center;

    &:hover{
        text-decoration: none;
    }

    &.active{
        img{
            box-shadow: 0 0 0 1px #6e6e6e;
        }
    }

    img{
        display: block;
        width: 50px;
        height: 50px;
        background-color: white;
        border: 1px solid #eee;
        margin-bottom: 5px;
        transition: box-shadow .2s ease-in-out;
        padding: 3px;
    }
}

@media screen and (min-width: 992px) {
    .new-ice-cream{
        padding-bottom: 0;
    }
}